<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title>Welcome</title>
      <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
      <link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/display_form.css}" />
   </head>
   <body>
      <h1>Welcome</h1>
      <div>
    
      <a th:href="@{registration_form}"
					class="btn btn-success"> <i class="fa fa-arrow-circle-o-left"></i>&nbsp;Add
						Add Customer
				</a>  
				
		
				
				
      <a th:href="@{listCustomer}"
					class="btn btn-success"> <i class="fa fa-arrow-circle-o-left"></i>&nbsp;Add
						All Customer
				</a>  	
				
					 
      </div> 
   </body>
</html>