<html lang="en" xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<title>All  Customer</title>
		
		<link rel="stylesheet" 
			type="text/css" 
			href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css" />
		<link rel="stylesheet" 
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" 
			integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" 
			crossorigin="anonymous" />
	</head>
	
	<body>
		
		<div class="container">
		
			<h3>List Customer</h3>
			
			<hr/>
			<a th:href="@{registration_form}" class="btn btn-primary">Add Customer</a>
			<br/><br/>
			<table class="table table-bordered table-striped" id="employeeTable">
			
				<thead>
					<tr>
						<th>Name</th>
						<th>Address</th>
						<th>Bengali Name</th>
						<th>Phone</th>
						<th>PoilaBoishak</th>
						<th>Actions</th>
						
					</tr>
				</thead>
				<tbody>
					<tr th:each="customer: ${customers}">
						<td th:text="${customer.customerFName}+ ' ' + ${customer.customerLName}" />
						<td th:text="${customer.address}" />
						<td th:text="${customer.bengaliName}" />
						<td th:text="${customer.phoneno}" />
						<td>
						<input  th:name="${customer.id}" type="number"
								value="" class="form-control bg-success text-white">
								
						<a id="searchButton" name="searchButton" th:attr="onclick=|retrieveGuests('${customer.id}')|" type="button"  class="btn btn-danger ml-2"
                   >Save</a>		
						</td>
						<td>
							<a th:href="@{add_transaction(customer=${customer.id},customerName=${customer.customerFName}+ ' ' + ${customer.customerLName})}" class="btn btn-danger ml-2">Show Transaction</a>
						</td>
					</tr>
				</tbody>
				
			</table>
		</div>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.js"></script>
		<script>
			$(document).ready(function() {
				$("#employeeTable").DataTable({
						'aoColumnDefs': [{
        				'bSortable': false,
        				'aTargets': [-1] /* 1st one, start by the right */
    				}]
				});
			})
		
	
			 function retrieveGuests(id) {
				var amount = document.getElementsByName(id)[0].value;
				 var dataSubmit = {}
				 dataSubmit["custId"] = id;
				 dataSubmit["amount"] = amount;
			 
				
				$.ajax({
		            type: "POST",
		            contentType: "application/json",
		            url: "savedeposit",
		            data: JSON.stringify(dataSubmit),
		            dataType: 'json',
		            cache: false,
		            timeout: 600000,
		            success: function (data) {
		 
		                console.log("SUCCESS : ", data);
		                alert("Data saved");
		 
		            },
		            error: function (e) {
		 
		 
		                console.log("ERROR : ", e);
		              
		 
		            }
		        });
		        
			}
		</script>
	</body>
	
</html>